
@{
    ViewBag.Title = "AddStore";
    Layout = "~/Areas/AdminLogin/Views/Shared/_OperationalAdminLayout.cshtml";
}

    <div class="row">
        <div class="col-sm-12">
            <div class="row" style="text-align:center;color:red;margin-bottom:20px;">
                <div class="col-sm-12">
                    <h2>Add Owner</h2>
                </div>
            </div>
            <div class="row" style="margin-bottom:15px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-4" style="font-weight:bold">Owner Email Id</div>
                <div class="col-sm-4">
                    <input type="text" id="txtOEmailId" name="txtOEmailId" class="form-control" placeholder="Enter AdminId" />
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row" style="margin-bottom:15px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-4" style="font-weight:bold">Owner Email Id</div>
                <div class="col-sm-4">
                    <input type="text" id="txtOEmailId" name="txtOEmailId" class="form-control" placeholder="Enter AdminId" />
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row" style="margin-bottom:15px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-4" style="font-weight:bold">Store Email Id</div>
                <div class="col-sm-4">
                    <input type="text" id="txtSEmailId" name="txtSEmailId" class="form-control" placeholder="Enter AdminId" />
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row" style="margin-bottom:15px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-4" style="font-weight:bold">Name</div>
                <div class="col-sm-4">
                    <input type="text" id="txtName" name="txtName" class="form-control" placeholder="Enter Admin Name" />
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row" style="margin-bottom:15px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-4" style="font-weight:bold">Age</div>
                <div class="col-sm-4">
                    <input type="text" id="txtAge" name="txtAge" class="form-control" placeholder="Enter Age" />
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row" style="margin-bottom:15px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-4" style="font-weight:bold">Gender</div>
                <div class="col-sm-4">
                    <input type="radio" id="rbtnMale" name="Gender" value="Male" />Male
                    <input type="radio" id="rbtnFemale" name="Gender" value="Female" />Female
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row" style="margin-bottom:15px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-4" style="font-weight:bold">Phone</div>
                <div class="col-sm-4">
                    <input type="text" id="txtPhone" name="txtPhone" class="form-control" placeholder="Enter Phone Number" />
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row" style="margin-bottom:15px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-4" style="font-weight:bold">Pan Number</div>
                <div class="col-sm-4">
                    @*<input type="text" id="txtPan" name="txtPan" class="form-control" placeholder="Enter Pan Number" />*@
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row" style="margin-bottom:15px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-4" style="font-weight:bold">Aadhar Number</div>
                <div class="col-sm-4">
                    @*<input type="text" id="txtAadhar" name="txtAadhar" class="form-control" placeholder="Enter Aadhar Number" />*@
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row" style="margin-bottom:15px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-4" style="font-weight:bold">Permanent Address</div>
                <div class="col-sm-4">
                    <textarea id="txtPAddress" name="txtPAddress" class="form-control" placeholder="Enter Permanent Address" rows="5"></textarea>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row" style="margin-bottom:15px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-4" style="font-weight:bold">Current Address</div>
                <div class="col-sm-4">
                    <textarea id="txtCAddress" name="txtCAddress" class="form-control" placeholder="Enter Current Address" rows="5"></textarea>
                </div>
                <div class="col-sm-2"></div>
            </div>
            @*<div class="row" style="margin-bottom:10px">
            <div class="col-md-2"> </div>
            <div class="col-md-4">Photo</div>
            <div class="col-md-3">
                <input type="file" id="image" />
                <div class="row">
                    <div class="col-sm-12">
                        <div id="imagePreview" class="thumbnail" style="display:none;">
                            <img class="img-responsive" id="targetImg" />
                            <div class="caption">
                                <a href="#" onclick="ClearPreview();"><i class="glyphicon glyphicon-trash"></i></a>
                                <p id="description"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"> </div>
        </div>*@
            <div class="row" style="margin-bottom:15px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-4" style="font-weight:bold">Status</div>
                <div class="col-sm-4">
                    <input type="radio" id="rbtnAct" name="Status" value="Active" />Active
                    <input type="radio" id="rbtnInact" name="Status" value="InActive" />InActive
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row" style="margin-top:60px;text-align:center;">
                <div class="col-sm-2"></div>
                <div class="col-sm-4" style="margin-top:2px;">
                    <input type="submit" id="btnRegister" name="Register" value="Register" class="btn btn-primary" />
                </div>
                <div class="col-sm-4">
                    <input type="submit" id="btnCancel" name="Register" value="Cancel" class="btn btn-danger" />
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row" style="margin-bottom:15px;">
                <div class="col-sm-3"></div>
                <div class="col-sm-3" style="font-weight:bold"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>

