
@{
    ViewBag.Title = "OAChangePassword";
    Layout = "~/Areas/AdminLogin/Views/Shared/_OperationalAdminLayout.cshtml";
}


<script src="~/Scripts/jquery-1.12.4.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if (window.sessionStorage.getItem("AdminID") == null) {
            window.location = "Login";
        }
        else {
            var NewPassword = $("#txtNewPwd");
            var ConfirmPassword = $("#txtCnfPwd");
            var ChangePassword = $("#btnChange");
            var Cancel = $("#btnCancel");

            ChangePassword.click(function () {
                alert("button");
                if (NewPassword.val() == "") {
                    alert("Enter NewPassword..!");
                    return false;
                }
                if (ConfirmPassword.val() == "") {
                    alert("Enter ConfirmPassword..!");
                    return false;
                }

                if (ConfirmPassword.val() != NewPassword.val()) {
                    alert("ConfirmPassword Should Match with NewPassword..!");
                    return false;
                }

                $.ajax({
                    type: "Post",
                    url: "https://localhost:44339/api/Admin/AdminApi/ChangePassword?AdminId=" + window.sessionStorage.getItem("AdminID") + "&Pwd=" + NewPassword.val(),
                    dataType: "json",
                    success: function (data) {
                        alert("success..");
                        if (data) {
                            alert("Password Has Been Changed Successfully..!");
                            window.location = "Dashboard";
                        }
                        else {
                            alert("SomeThing Went Wrong...!");
                            NewPassword.val('');
                            ConfirmPassword.val('');
                            NewPassword.select;
                        }
                    }
                });
            });
        }
    });
</script>
<h2>ChangePassword</h2>

<div class="row">
    <div class="col-md-12">
        <div class="row" style="margin-bottom:20px">
            <div class="col-md-3"> </div>
            <div class="col-md-3">New Password</div>
            <div class="col-md-3"><input type="text" id="txtNewPwd" class="form-control" placeholder="Enter New Password" /></div>
            <div class="col-md-3"> </div>
        </div>
        <div class="row" style="margin-bottom:20px">
            <div class="col-md-3"> </div>
            <div class="col-md-3">Confirm Password</div>
            <div class="col-md-3"><input type="password" id="txtCnfPwd" class="form-control" placeholder="Enter Confirm Password" /></div>
            <div class="col-md-3"> </div>
        </div>
        <div class="row">
            <div class="col-md-4"> </div>
            <div class="col-md-2"><input type="submit" id="btnChange" class="btn btn-primary" value="Change Password" /></div>
            <div class="col-md-2"><input type="submit" id="btnCancel" class="btn btn-danger" value="Cancel" /></div>
            <div class="col-md-4"> </div>
        </div>
    </div>
</div>

