
@{
    ViewBag.Title = "OADashboard";
    Layout = "~/Areas/AdminLogin/Views/Shared/_OperationalAdminLayout.cshtml";
}

<header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h2><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Dashboard Profile <small>Managerial Admin</small></h2>
                </div>
                <div class="col-md-2">
                    <div class="dropdown create">
                        <button class="btn btn-default dropdown-toggle" style="width:150px;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Select Branch
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
<h2>OADashboard</h2>

