@model IEnumerable<MSMS.Models.Vender_Details>

@using GridMvc.Html
@{
    ViewBag.Title = "Vendor";
    Layout = "~/Areas/Users/Views/Shared/_LayoutPage1.cshtml";
}


<script src="~/Scripts/jquery-1.12.4.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var dropdown = $("#dropdown");
        $("#tabs").tab;
                $.ajax({
                    type: "get",
                    url: "https://localhost:44339/api/Users/ApiUser/GetCompanyList",
                    dataType: "json",
                    success: function (data) {
                        alert(data);
                        dropdown.empty();
                        dropdown.append("<option value='0'>-Select Company-</option>")
                        $.each(data, function (index, item) {
                            dropdown.append("<option value='" + item.Company_Id + "'>" + item.Company_Name + "</option>");
                        });
                    },
                    error: function (XHR) {
                        var responseData = JSON.parse(XHR.responseText);
                        alert(XHR.Status + ":" + responseData.Message);
                    }
                });
                dropdown.change(function () {
                    OEmailId.val(dropdown.val());
                    //$('#OEmailId').attr('readonly', true);
                    //$('#OEmailId').addClass('input-disabled');
                });  

        $("#btnAdd").click(function () {
            var Id = $("#txtID");
            var Name = $("#txtName");
            var City = $("#txtCity");
            var Phone = $("#txtPhone");
            var Email = $("#txtEmail");
            var Status = $("input[name='Status']:checked").length;
            var Percentage = $("#txtPercentage");
            var dropdown = $("#dropdown");

            var CustObj = {
                "Vender_ID": Id.val(),
                "Vender_Name": Name.val(),
                "City": City.val(),
                "Phone_No": Phone.val(),
                "Email": Email.val(),
                "Status": $("input[name='Status']:checked").val(),
                "Percentage": Percentage.val(),
                "Vender_Company_Id": dropdown.val()
            }
            $.ajax({
                type: "post",
                url: "https://localhost:44339/api/Users/ApiUser/AddVendors",
                dataType: "json",
                data: JSON.stringify(CustObj),
                contentType: "application/json",
                success: function (data) {
                    alert("Record " + data.Customer_ID + " Was Created Successfully...!");
                },
                error: function (XHR) {
                    var responseData = JSON.parse(XHR.responseText);
                    alert(XHR.status + " : " + responseData.Message);
                }
            });
        });
    });
</script>
<h2>Vendor</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-justified">
                <li class="active" style="font-display:inherit">
                    <a href="#AddVendor" data-toggle="tab">Add Vendor</a>
                </li>
                <li>
                    <a href="#ManageVendor" data-toggle="tab">Manage Vendor</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="AddVendor" class="tab-pane fade in active">
                    <div class="row" style="margin-top:50px;">
                        <div class="col-md-2"></div>
                        <div class="col-md-4" style="font-weight:bold">Vendor Id</div>
                        <div class="col-md-4"><input type="text" id="txtID" name="txtID" class="form-control" placeholder="Enter VendorId"></div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-md-2"></div>
                        <div class="col-md-4" style="font-weight:bold">Vendor Name</div>
                        <div class="col-md-4"><input type="text" id="txtName" name="txtName" class="form-control" placeholder="Enter Vendor Name"></div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4" style="font-weight:bold">Address</div>
                        <div class="col-sm-4">
                            <textarea id="txtAddress" name="txtAddress" class="form-control" placeholder="Enter Address" rows="5"></textarea>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-md-2"></div>
                        <div class="col-md-4" style="font-weight:bold">City</div>
                        <div class="col-md-4"><input type="text" id="txtCity" name="txtCity" class="form-control" placeholder="Enter Vendor City"></div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-md-2"></div>
                        <div class="col-md-4" style="font-weight:bold">Phone Number</div>
                        <div class="col-md-4"><input type="text" id="txtPhone" name="txtPhone" class="form-control" placeholder="Enter Phone Number"></div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-md-2"></div>
                        <div class="col-md-4" style="font-weight:bold">Email</div>
                        <div class="col-md-4"><input type="text" id="txtEmail" name="txtEmail" class="form-control" placeholder="Enter Email"></div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-md-2"></div>
                        <div class="col-md-4" style="font-weight:bold">Status</div>
                        <div class="col-md-4">
                            <input type="radio" id="rbtnAct" name="Status" value="Active" />Active
                            <input type="radio" id="rbtnInact" name="Status" value="InActive" />InActive
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-md-2"></div>
                        <div class="col-md-4" style="font-weight:bold">Percentage</div>
                        <div class="col-md-4"><input type="text" id="txtPercentage" name="txtPercentage" class="form-control" placeholder="Enter Percentage"></div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-md-2"></div>
                        <div class="col-md-4" style="font-weight:bold">Vendor Company Id</div>
                        <div class="col-md-4">
                            <select id="dropdown" name="dropdown" class="form-control"></select>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-md-2"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"><input type="submit" id="btnAdd" name="btnAdd" class="btn btn-info" value="Add"></div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div id="ManageVendor" class="tab-pane fade">
                    <div style="margin-top:20px;">
                        <div class="code-cut">
                            @Html.Grid(Model).Columns(columns =>
                                            {
                                                columns.Add(c => c.Vender_ID).Titled("Vender_ID").Filterable(true);
                                                columns.Add(c => c.Vender_Name).Titled("Vender_Name").Filterable(true);
                                                columns.Add(c => c.Phone_No).Titled("Phone_No").Filterable(true);
                                                columns.Add(c => c.Email).Titled("Email").Filterable(true);
                                                columns.Add(c => c.City).Titled("City").Filterable(true);
                                                columns.Add(c => c.Status).Titled("Status").Filterable(true);
                                                columns.Add(c => c.Percentage).Titled("Percentage").Filterable(true);
                                                columns.Add(c => c.Vender_Company_Id).Titled("Vender_Company_Id").Filterable(true);


                                                columns.Add().Titled("Edit")
                                                .Encoded(false)
                                                .Sanitized(false)
                                                .SetWidth(30)
                                                .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = o.Vender_ID }));


                                                }).WithPaging(1).Sortable(true)
                        </div>
                    </div>
                </div>
                <p>
                    <a class="btn btn-success" href="@Url.Action("VendorPDF")">PDF</a>
                </p>
            </div>
        </div>
    </div>
</div>
