
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/OwnerProfile/Views/Shared/_LayoutPage1.cshtml";
}

<script src="~/Scripts/jquery-1.12.4.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if (window.sessionStorage.getItem("OwnerID") == null) {
            window.location.href = "/Login/Index";
        }
        else {
            var TotalCount = $("#total");
            var TotalACount = $("#Activetotal");
            var TotalICount = $("#InActivetotal");

            function GetAdminData() {
                $.ajax({
                    type: "Get",
                    url: "https://localhost:44339/api/OwnerProfile/WebApiStore/GetStoreByOwner?OwnerId=" + window.sessionStorage.getItem("OwnerID"),
                    dataType: "json",
                    success: function (data) {
                        var Count = 0, ACount = 0, ICount = 0;
                        $.each(data, function (index, item) {
                            debugger;
                            if (item.Status == 'Active') {
                                ACount++;
                            }
                            else if (item.Status == 'InActive') {
                                ICount++;
                            }
                        });
                        Count++;
                        TotalCount.html(Count);
                        TotalACount.html(ACount);
                        TotalICount.html(ICount);

                        if (ACount > ICount) {
                            $("#tpanel").css("background-color", "Green");
                        } else {
                             $("#tpanel").css("background-color", "red");
                        }
                    },
                    error: function (XHR) {
                        alert("Error");
                    }
                });
            }

            GetAdminData();
            window.setInterval(function () {
                GetAdminData();
            }, 8000);
            $("#total").mouseover(function () {
                $("#total").animate({ fontSize: '3em' }, "slow")
            });
            $("#total").mouseout(function () {
                $("#total").animate({ fontSize: '1em' }, "slow")
            });

            $("#Activetotal").mouseover(function () {
                $("#Activetotal").animate({ fontSize: '3em' }, "slow")
            });
            $("#Activetotal").mouseout(function () {
                $("#Activetotal").animate({ fontSize: '1em' }, "slow")
            });

            $("#InActivetotal").mouseover(function () {
                $("#InActivetotal").animate({ fontSize: '3em' }, "slow")
            });
            $("#InActivetotal").mouseout(function () {
                $("#InActivetotal").animate({ fontSize: '1em' }, "slow")
            });
        }
    });
</script>
<h2>Dashboard</h2>
<div class="row">
    <div class="col-md-4">
        <div class="panel" id="tpanel">
            <div class="panel-heading">
                <div class="panel-title" style="height:150px;">
                    <div style="font-size:25px;border-bottom:1px solid #333;">Owners</div>
                    <div class="row">
                        <div class="col-md-6"><h3>Total</h3></div>
                        <div class="col-md-6"><h3><span class="badge" style="font-size:1em;background-color:black;" id="total"></span></h3></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title" style="height:150px;">
                    <div style="font-size:25px;border-bottom:1px solid #333;">Owners</div>
                    <div class="row">
                        <div class="col-md-6"><h3>Active</h3></div>
                        <div class="col-md-6"><h3><span class="badge" style="font-size:1em;" id="Activetotal"></span></h3></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="panel-title" style="height:150px;">
                    <div style="font-size:25px;border-bottom:1px solid #333;">Owners</div>
                    <div class="row">
                        <div class="col-md-6"><h3>In Active</h3></div>
                        <div class="col-md-6"><h3><span class="badge" style="font-size:1em;" id="InActivetotal"></span></h3></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
