

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <link href="~/Content/MADashboard.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script>
        $(document).ready(function () {
            debugger;
            //var abc = $("#RedirectTo").val();
            if (window.sessionStorage.getItem("OwnerID") == null) {
                window.location.href = "/login/index";
            }
            else {
                var Logout = $("#btnLogout");
                Logout.click(function () {
                    debugger;
                    //window.sessionStorage.removeItem("AdminID");
                    window.sessionStorage.clear();
                    window.location.href = "/login/index";
                });
                var Name = $("#lblName");
                Name.append(window.sessionStorage.getItem("OwnerID"));
                $("#lblPhoto").append('<img src="/OwnerProfile/Profile/ImageRetrieval?id=' + window.sessionStorage.getItem("OwnerID")+ '" class="img-responsive thumbnail" style="height:55px;width:55px;"/>'); 
            }
        });
    </script>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1>
                    @Html.ActionLink("#", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </h1>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
                <h4>
                    <ul class="nav navbar-nav navbar-right">
                        <li style="margin-bottom:20px !important;"><a><label id="lblPhoto"></label></a></li>
                        <li style="padding-top:10px;"> <a><label id="lblName"></label></a></li>
                        <li style="padding-top:10px;"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                        <li style="padding-top:10px;"><a href="#about"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
                        <li style="padding-top:10px;"><a href="#contact"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
                        <li style="padding-top:10px;">@*<a><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>*@<input type="submit" class="btn btn-danger" id="btnLogout" value="Logout" /></li>
                        @*@Html.Hidden("RedirectTo", Url.Action("Login", "AdminLogin"))*@
                    </ul>
                </h4>
            </div><!--/.nav-collapse -->
        </div>
    </nav>


    <div class="side-nav">
        <nav>
            <ul>
                <li>
                    <a href="Dashboard">
                        <span><i class="fa fa-tachometer"></i></span>
                        <span>Dashboard@*@Html.ActionLink("Dashboard","Dashboard")*@</span>
                    </a>
                </li>
                <li>
                    <a href="MADetails">
                        <span><i class="fa fa-user"></i></span>
                        <span>Profile@*@Html.ActionLink("Profile","MADetails")*@</span>
                    </a>
                </li>
                <li>
                    <a href="MAAdd">
                        <span><i class="fa fa-user-plus"></i></span>&nbsp;
                        <span>Add OA@*@Html.ActionLink("Add OA","MAAdd")*@</span>
                    </a>
                </li>
                <li>
                    <a href="MAIndex">
                        <span><i class="fa fa-bar-chart"></i></span>&nbsp;
                        <span>Manage OA@*@Html.ActionLink("Manage OA","MAIndex")*@</span>
                    </a>
                </li>
                <li>
                    <a href="MAChangePwd">
                        <span><i class="fa fa-lock"></i></span>&nbsp;&nbsp;&nbsp;
                        <span>Change Password@*@Html.ActionLink("Change Password","MAChangePwd")*@</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="container-fluid body-content">
        <div class="main" style="margin-left:300px;padding-top:50px;">
            @RenderBody()
            <hr />
        </div>
    </div>
    <footer id="footer" style="background-color:#000;height:100px;">
        <div class="container-fluid">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </div>
    </footer>
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>