<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td>
                <div style="border-top:3px solid #22BCE5;"> </div>
                <span style="font-family:Arial;font-size:10pt;">
                    Hello <b><a style="color:#22BCE5;" href="{Url}">{UserName}</a></b>,
                    <br />
                    <br />
                    {message}
                    <br />
                    <br />
                    <img src={ImgPath} style="width:100px;" id='img' alt='' />
                    <br />
                    <br />
                    Thanks
                    <br />
                    From <b><a style="color:red;" href="{Url}">Admin Team</a></b>
                </span>
            </td>
        </tr>
    </table>

</body>
</html>